.button {
  .oswaldFont();
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  &--green {
    background-color: @basic-green;
    color: @basic-white;

    &:hover {
      background-color: @button-background_green-hover;
    }

    &:active {
      background-color: @button-background_green-hover;
      opacity: 30%;
    }
  }

  &--grey {
    background-color: @background-light-grey;
    color: @dark-grey;
  }

  &--after-before {
    .font-size-height(16, 20);


    @media (min-width: @tablet-width) {
      .font-size-height(20, 30);
    }
  }
}
