@import "source/less/variables.less";

.button {
  height: 40px;
  width: 280px;
  text-align: center;
  font-family: @oswaldFont;
  text-transform: uppercase;
}

.button--type-green {
  background-color: rgba(104, 183, 56, 1);
  color: rgba(255, 255, 255, 1);
}
