.button {
  .oswaldFont();
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  outline: none;
  cursor: pointer;

  &--green {
    background-color: @basic-green;
    color: @basic-white;

    &:hover {
      @media @desktop {
        background-color: @dark-green;
      }
    }

    &:active {
      //background-color: @button-background_green-hover;
    }
  }

  &--grey {
    background-color: @background-light-grey;
    color: @dark-grey;
  }

  &--after-before {
    .font(16, 20);


    @media @tablet {
      .font(20, 30);
    }
  }
}
