.catalog-section {
  padding-bottom: 35px;

  @media @tablet {
    padding-bottom: 76px;
  }

  @media @desktop {
    padding-bottom: 87px;
  }
}

.catalog-section__title {
  .oswaldFont();
  .font(36, 36);
  margin: 0;
  padding: 28px 20px 40px 20px;
  color: @basic-black;
  border-bottom: @border-catalog;

  @media @tablet {
    .font(60, 60);
    padding: 34px 30px 30px 30px;
    border-bottom: none;
  }

  @media @desktop {
    padding: 20px 110px 41px 110px;
  }
}

.catalog-section__catalog {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;

  @media @tablet {
    margin-top: 134px;
    padding: 0 30px 70px 30px;
    grid-template-columns: repeat(2, 324px);
    grid-column-gap: 60px;
    row-gap: 140px;
    justify-content: center;
  }

  @media @desktop {
    margin-top: 124px;
    padding: 0 110px 76px 110px;
    grid-template-columns: repeat(4, 245px);
    grid-column-gap: 80px;
    row-gap: 145px;
    justify-content: start;
  }
}

.catalog-section__catalog-card {
  display: block;
  border-bottom: @border-catalog;
  padding: 20px 20px 24px 20px;

  @media @tablet {
    padding-top: 169px;
    position: relative;
    border-bottom: none;
    background-color: @background-light-grey;
  }

  @media @desktop {
    padding-top: 180px;
  }
}

.catalog-section__product-card-body {
  display: flex;
  position: relative;

  @media @tablet {
    display: block;
  }
}

.catalog-section__product-image-link {
  display: block;
  flex: 1;
}

.catalog-section__product-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  @media @tablet {
    top: -233px;
    left: 58px;
  }

  @media @desktop {
    top: -244px;
    left: 20px;
  }
}

.catalog-section__product-card-text {
  flex: 1;

  @media @tablet {
    margin-top: -8px;
  }

  @media @desktop {
    margin: -17px 0 0 0;
  }
}

.catalog-section__product-name-link {
  display: block;
  max-width: 100px;

  @media @tablet {
    max-width: 130px;
    margin: 0 auto;
  }

  @media @desktop {
    max-width: 125px;
  }
}

.catalog-section__product-name {
  .oswaldFont();
  .font(16, 20);
  margin: 0;
  width: 100px;
  color: @basic-grey;
  text-transform: uppercase;

  @media @tablet {
    .font(20, 24);
    width: 130px;
    text-align: center;
  }

  @media @desktop {
    .font(20, 21);
  }
}

.catalog-section__product-attribute-list {
  .reset-list-styles();
  margin: 14px 0 0 0;

  @media @tablet {
    padding: 0 19px 0 18px;
  }

  @media @desktop {
    margin: 18px 0 0 0;
    padding: 0 16px 0 21px;
  }
}

.catalog-section__product-attribute {
  .font(12, 16);
  display: flex;
  justify-content: space-between;

  @media @tablet {
    .font(16, 16);
    padding: 7px 0 8px 0;
    border-bottom: @border-recommendations;
  }
}

.catalog-section__product-attribute-name,
.catalog-section__product-attribute-value {
  .font(12, 16);

  @media @tablet {
    .font(16, 16);
  }
}

.catalog-section__product-button-body {
  margin-top: 22px;

  @media @tablet {
    margin-top: 31px;
    padding: 0 17px 16px 18px;
  }
}

.catalog-section__product-button {
  .font(16, 20);
  display: block;
  padding: 10px 109px;

  @media @tablet {
    padding: 10px 93px;
  }

  @media @desktop {
    padding: 10px 53px;
  }
}

.catalog-section__catalog-card-showmore {
  position: relative;
  padding: 78px 20px 24px 20px;
  border-bottom: @border-catalog-card;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 39px;
    left: calc(50% - 15px);
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;

    @media @tablet {
      top: 83px;
      left: calc(50% - 30px);
      width: 60px;
    }

    @media @desktop {
      top: 79px;
    }
  }

  &::after {
    transform: rotate(-180deg);
  }

  &::before {
    transform: rotate(-90deg);
  }

  @media @tablet {
    padding: 162px 33px 24px 34px;
    background-color: @basic-white;
    border: @border-catalog-card;
  }

  @media @desktop {
    padding-top: 159px;
  }
}

.catalog-section__showmore {
  display: block;
}

.catalog-section__showmore-title {
  .oswaldFont();
  .font(16, 20);
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: @dark-grey;

  @media @tablet {
    .font(20, 22);
    margin: 0 auto;
    max-width: 160px;
  }
}

.catalog-section__showmore-subtitle {
  .font(12, 16);
  margin: 8px 1px 0 0;
  text-align: center;

  @media @tablet {
    .font(16, 18);
    margin: 23px auto 0 auto;
    max-width: 228px;
  }
}

.catalog-section__showmore-button {
  .font(16, 20);
  display: block;
  margin-top: 21px;
  padding: 10px 94px;

  @media @tablet {
    margin-top: 87px;
    padding: 10px 53px;
  }

  @media @desktop {
    padding: 10px 39px;
  }
}

.catalog-section__recommendations-title-container {
  position: relative;

  &::before {
    @media @tablet {
      position: absolute;
      content: "";
      top: 22px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: @basic-green;
    }

    @media @desktop {
      top: 98px;
    }

    @media @desktop {
      top: 22px;
    }
  }

  @media @tablet {
    padding: 0 0 0 31px;
  }

  @media @desktop {
    padding: 0 0 0 70px;
  }
}

.catalog-section__recommendations-title {
  .oswaldFont();
  .font(24, 24);
  margin: 0;
  padding: 25px 20px 35px 20px;

  @media @tablet {
    .font(36, 36);
    position: relative;
    width: 409px;
    padding: 0 0 0 36px;
    background-color: @basic-white;
  }

  @media @desktop {
    padding: 0 0 0 41px;
  }
}

.catalog-section__recommendations-container {
  padding: 0 20px 0 20px;

  @media @tablet {
    padding: 0 30px 0 30px;
    margin-top: 80px;
  }

  @media @desktop {
    display: flex;
    padding: 0 110px 0 110px;
  }
}

.catalog-section__related-product-list {
  .reset-list-styles();
  flex: 1;

  @media @tablet {
    border: @border-recommendations;
  }

  @media @desktop {
    border-left: none;
    border-right: none;
  }
}

.catalog-section__related-product {
  display: block;
  padding: 13px 0 17px 0;
  border-top: @border-recommendations;

  &:first-of-type {
    @media @tablet {
      border-top: none;
    }
  }

  &:last-of-type {
    border-bottom: @border-recommendations;

    @media @tablet {
      border-bottom: none;
    }
  }

  @media @tablet {
    padding: 27px 38px 28px 38px;
  }

  @media @desktop {
    padding: 17px 0 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.catalog-section__related-product-container {
  @media @tablet {
    display: flex;
    justify-content: space-between;
  }

  @media @desktop {
    width: 611px;
  }
}

.catalog-section__related-product-name {
  .oswaldFont();
  .font(16, 16);
  margin: 0;
  color: @basic-grey;
  text-transform: uppercase;

  @media @tablet {
    .font(20, 20);
  }

  @media @desktop {
    text-align: right;
    white-space: nowrap;
  }
}

.catalog-section__related-product-attributes {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  color: @light-grey;

  @media @tablet {
    margin: 0;
  }

  @media @desktop {
    width: 286px;
    padding-top: 7px;
  }
}

.catalog-section__related-product-amount,
.catalog-section__related-product-price {
  .font(14, 14);

  @media @tablet {
    .font(16, 20);
  }
}

.catalog-section__related-product-price {
  @media @tablet {
    margin-left: 49px;
  }

  @media @desktop {
    margin: 0;
  }
}

.catalog-section__related-product-button {
  display: block;
  margin-top: 15px;
  padding: 8px 109px;

  @media @tablet {
    margin: 24px 0 0 0;
    padding: 7px 109px;
  }

  @media @desktop {
    margin-top: 0;
    padding: 7px 91px;
    text-align: right;
  }
}

.catalog-section__special {
  position: relative;
  margin-top: 39px;
  padding: 188px 0 0 0;
  background-image: url("../img/catalog-section/special/gift-photo-mobile1x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 289px;
  width: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog-section/special/gift-photo-mobile2x.png");
  }

  @media @tablet {
    background-image: url("../img/catalog-section/special/gift-photo-tablet1x.png");
    padding: 72px 0 0 423px;
    margin-top: 72px;
    max-height: 200px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-section/special/gift-photo-tablet2x.png");
    }
  }

  @media @desktop {
    background-image: url("../img/catalog-section/special/gift-photo-desktop1x.png");
    margin: 0 0 0 80px;
    padding: 187px 0 0 0;
    max-height: 289px;
    max-width: 245px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-section/special/gift-photo-desktop2x.png");
    }
  }

  //TODO подарок уплывает в лево если экран становиться шире
  &::after {
    content: "";
    position: absolute;
    top: 57px;
    left: calc(50% - 39px);
    background-image: url("../img/catalog-section/gift.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 78px;
    height: 80px;

    @media @tablet {
      top: 58px;
      left: calc(17% - 39px);
    }

    @media @desktop {
      left: calc(50% - 39px);
    }
  }
}

.catalog-section__special-title {
  .font(16, 20);
  display: block;
  margin: 0;
  font-weight: 400;
  text-align: center;
  color: @basic-white;

  @media @tablet {
    text-align: left;
  }

  @media @desktop {
    text-align: center;
  }
}

.catalog-section__special-title > span {
  display: block;
}
