.catalog-section__title {
  margin: 0;
  .oswald-regular();
  color: @basic_black;

  @media (max-width: @mobile-width) {
    padding: 25px 20px;
    border-bottom: @border_grey-catalog;
    .font-size-height(36, 36);
  }

  @media (min-width: @tablet-width) {
    padding: 30px;
    border-bottom: none;
    .font-size-height(60, 60);
  }

  @media (min-width: @desktop-width) {
    padding: 30px 110px;
  }
}

.catalog-section__catalog {
  .reset-list-styles();
}

.catalog-section__product-name {
  margin: 0;
  width: 100px;
  .oswald-regular();
  color: @text_grey-form;
  text-transform: uppercase;

  @media (max-width: @mobile-width) {
    .font-size-height(16, 20);
  }

  @media (min-width: @tablet-width) {
    .font-size-height(20, 24);
  }

  @media (min-width: @desktop-width) {
    .font-size-height(20, 21);
  }
}

.catalog-section__product-name-link {
  display: block;
}

.catalog-section__product-attribute-list {
  .reset-list-styles();
  margin: 12px 0 0 0;
}

.catalog-section__product-attribute {
  display: flex;
  justify-content: space-between;

  @media (max-width: @mobile-width) {
    .font-size-height(12, 16);
  }

  @media (min-width: @tablet-width) {
    .font-size-height(16, 16);
  }
}

.catalog-section__product-button {
  display: block;

  @media (max-width: @mobile-width) {
    margin-top: 13px;
    padding: 10px 109px;
    .font-size-height(16, 20);
  }

  @media (min-width: @tablet-width) {
    padding: 10px 93px;
    .font-size-height(16, 20);
  }

  @media (min-width: @desktop-width) {
    padding: 10px 53px;
  }
}

.catalog-section__showmore-title {
  margin: 0;
  .oswald-regular();
  color: @text_dark-grey;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: @mobile-width) {
    .font-size-height(16, 20);
  }

  @media (min-width: @tablet-width) {
    .font-size-height(20, 22);
  }
}

.catalog-section__showmore-subtitle {
  margin: 8px 0 0 0;
  text-align: center;

  @media (max-width: @mobile-width) {
    .font-size-height(12, 16);
  }

  @media (min-width: @tablet-width) {
    .font-size-height(16, 18);
  }
}

.catalog-section__showmore-button {
  @media (max-width: @mobile-width) {
    margin-top: 21px;
    padding: 10px 94px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 87px;
    padding: 20px 79px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 39px;
  }
}

.catalog-section__recommendations-title {
  .oswald-regular();
  padding-bottom: 36px;
  border-bottom: 1px solid rgba(205, 205, 205, 1);

  @media (max-width: @mobile-width) {}

  @media (min-width: @tablet-width) {}

  @media (min-width: @desktop-width) {}
}

// TODO нижe не известно

.catalog-section__catalog-card {
  padding: 20px;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
}

.catalog-section__product-card-body {
  display: flex;
}

.catalog-section__product-image-link {
  display: block;
  flex: 1;
}

.catalog-section__product-image {
  display: block;
  text-align: center;
}

.catalog-section__product-card-text {
  flex: 1;
}

.catalog-section__showmore {
  display: flex;
  flex-direction: column;
}

.catalog-section__recommendations {
  padding: 0 20px;
  margin: 0;
}

.catalog-section__related-product-list {
  .reset-list-styles();
}

.catalog-section__related-product {
  display: flex;
  flex-direction: column;
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;
}

.catalog-section__related-product-name {
  margin-top: 13px;
  .oswald-regular();
  //(16px; 16px);
  color: #222222;
  text-transform: uppercase;
}

.catalog-section__related-product-attributes {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}

.catalog-section__related-product-button {
  margin-top: 15px;
  padding: 10px 109px;
}

.catalog-section__special {
  padding-top: 20px;
  background-image: url("../img/catalog-section/gift-photo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 289px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-section__special-title {
  margin: 0;
  color: @basic-white;
  text-align: center;
  width: 170px;
}

.catalog-section__special-icon {
  padding: 0;
}
