.contacts-section {
  position: relative;
}

.contacts-section__container {
  display: flex;
  justify-content: space-between;
  padding: 28px 19px 26px 19px;
  background-color: @basic-white;

  &--grey {
    background-color: @background-light-grey;
  }

  @media @tablet {
    padding: 63px 72px 58px 72px;
  }

  @media @desktop {
    padding: 75px 90px 51px 76px;
    width: 570px;
    height: 201px;
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: @basic-white;
  }
}

.contacts-section__title {
  .oswaldFont();
  .font(16, 18);
  max-width: 140px;
  margin: 0;
  flex: 1;
  text-transform: uppercase;
  color: @dark-grey;

  @media @tablet {
    .font(20, 22);
    max-width: 171px;
    padding: 4px 0 0 0;
  }

  @media @desktop {
    padding: 4px 0 0 0;
    min-width: 163px;
  }
}

.contacts-section__title > span:not(:first-of-type) {
  display: block;
  margin-top: 4px;

  @media @tablet {
    margin-top: 4px;
  }

  @media @desktop {
    margin-top: 3px;
  }
}

.contacts-section__address {
  .font(14; 20);
  flex: 1;
  font-style: normal;
  color: @light-grey;
  max-width: 140px;

  @media @tablet {
    .font(16; 20);
    max-width: 159px;
    text-align: right;
  }

  @media @desktop {
    max-width: 155px;
    text-align: left;
  }
}

.contacts-section__address > span:not(:first-of-type) {
  @media @tablet {
    display: block;
    margin-top: 18px;
  }
}

.contacts-section__map > iframe {
  display: block;
  width: 100%;
  border: 0;
  height: 362px;

  @media @tablet {
    height: 400px;
  }
}
