.contacts-section {
  position: relative;
}

.contacts-section__container {
  display: flex;
  justify-content: space-between;
  background-color: @basic-white;
  padding: 28px 19px 26px 19px;

  &--grey {
    background-color: @background-light-grey;
  }

  @media @tablet {
    padding: 66px 72px 58px 72px;
  }

  @media @desktop {
    padding: 66px 89px 51px 76px;
    width: 570px;
    height: 201px;
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: @basic-white;
  }
}

.contacts-section__title {
  flex: 1;
  margin: 0;
  .oswaldFont();
  color: @dark-grey;
  text-transform: uppercase;
  max-width: 140px;
  .font(16, 18);


  @media @tablet {
    max-width: 171px;
    .font(20, 21);
  }

  @media @desktop {
    max-width: 163px;
  }
}

.contacts-section__address {
  flex: 1;
  font-style: normal;
  color: @light-grey;
  max-width: 140px;
  .font(14; 20);


  @media @tablet {
    max-width: 159px;
    .font(16; 20);
  }

  @media @desktop {
    max-width: 155px;
  }
}

.contacts-section__map > iframe {
  display: block;
  width: 100%;
  border: 0;
  height: 362px;

  @media @tablet {
    height: 400px;
  }
}
