.contacts-section {
  position: relative;
}

.contacts-section__container {
  display: flex;
  justify-content: space-between;
  background-color: @basic-white;

  @media (max-width: @mobile-width) {
    padding: 28px 19px 26px 19px;
  }

  @media (min-width: @tablet-width) {
    padding: 66px 72px 58px 72px;
  }

  @media (min-width: @desktop-width) {
    padding: 66px 89px 51px 76px;
    width: 570px;
    height: 201px;
    position: absolute;
    top: 95px;
    left: 110px;
  }
}

.contacts-section__title {
  flex: 1;
  margin: 2px;
  .oswald-regular();
  color: @text_dark-grey;
  text-transform: uppercase;

  @media (max-width: @mobile-width) {
    max-width: 140px;
    .font-size-height(16px, 18px);
  }

  @media (min-width: @tablet-width) {
    max-width: 171px;
    .font-size-height(20px, 21px);
  }

  @media (min-width: @desktop-width) {
    max-width: 163px;
  }
}

.contacts-section__address {
  flex: 1;
  font-style: normal;
  color: @text_grey;

  @media (max-width: @mobile-width) {
    max-width: 140px;
    .font-size-height(14px; 20px);
  }

  @media (min-width: @tablet-width) {
    max-width: 159px;
    .font-size-height(16px; 20px);
  }

  @media (min-width: @desktop-width) {
    max-width: 155px;
  }
}

.contacts-section__map > iframe {
  display: block;
  width: 100%;
  border: 0;

  @media (max-width: @mobile-width) {
    height: 362px;
  }

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}
