@import "source/less/variables.less";

.example-section {
  padding: 27px 20px 25px 20px;
  background-color: rgba(234, 234, 234, 1);
}

.example-section__title {
  margin: 0;
  font-family: @oswaldFont;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

.example-section__description {
  margin: 33px 0 0 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
}

.example-section__results-container {
  margin: 25px 0 0 0;
  display: flex;
  justify-content: center;
}

.example-section__result {
  margin: 0;
  width: 124px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(205, 205, 205, 1);
  border-radius: 3px;
}

.example-section__result:not(:first-of-type) {
  margin-left: 30px;
}

.example-section__result-value {
  display: block;
  font-family: @oswaldFont;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  margin-top: 17px;
}

.example-section__result-label {
  margin-top: 15px;
  width: 80px;
  background-color: rgba(234, 234, 234, 1);
  text-align: center;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: rgba(68, 68, 68, 1);
  text-transform: lowercase;
}

.example-section__expenses {
  margin-top: 26px;
  font-family: @oswaldFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.example-section__demo {
  margin-top: 42px;
}

.example-section__before-image {
  position: absolute;
  //TODO подогрань картинку под нужный размер
  //background-image: url("../img/example-section/cat-fat.png");
  //background-position: center center;
  //background-repeat: no-repeat;
  //background-size: contain;
  //height: 232px;
  //width: 100%;
}

.example-section__after-image {
  background-image: url("../img/example-section/cat-skinny.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 232px;
  width: 100%;
}

.example-section__buttons {
  margin: 23px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.after-before-button {
  border: none;
  font-family: @oswaldFont;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(234, 234, 234, 1);
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 5px;
}

.example-section__slider {
  width: 86px;
  height: 14px;
  appearance: none;
  border-radius: 10px;
  border: 1px solid rgba(205, 205, 205, 1);
  background-color: white;
}
