.example-section__title {
  margin: 0;
  .oswald-regular();
  color: @basic_black;
}

.example-section__result {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example-section__result-value {
  display: block;
  .oswald-regular();
  text-transform: uppercase;
}

.example-section__result-label {
  text-transform: lowercase;
  text-align: center;
}

.example-section__expenses {
  .oswald-regular();
  text-transform: uppercase;
}

.example-section__buttons {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-section__slider {
  appearance: none;
  border-radius: 10px;
  border: 1px solid rgba(205, 205, 205, 1);
  background-color: rgba(255, 255, 255, 1);
}

@media (max-width: @mobile-width) {
  .example-section {
    padding: 20px;
    background-color: @background_special-grey;
  }

  .example-section__title {
    .font-size-height(36px, 40px);
  }

  .example-section__description {
    margin: 33px;
    .font-size-height(14px, 18px);
  }

  .example-section__results-container {
    margin: 25px 0 0 0;
    display: flex;
    flex-direction: column;
  }

  .example-section__results {
    display: flex;
    justify-content: center;
  }

  .example-section__result {
    width: 124px;
    height: 64px;
  }

  .example-section__result:not(:first-of-type) {
    margin-left: 30px;
  }

  .example-section__result-value {
    margin-top: 17px;
    .font-size-height(24px, 24px);
  }

  .example-section__result-label {
    margin-top: 15px;
    background-color: @background_special-grey;
    .font-size-height(12px, 12px);
  }

  .example-section__expenses {
    margin-top: 26px;
    .font-size-height(14px, 20px);
    color: @basic_black;
    text-align: center;
  }

  .example-section__demo {
    margin-top: 42px;
  }

  .example-section__buttons {
    margin: 25px 0 0 0;
  }

  .example-section__slider {
    width: 86px;
    height: 14px;
  }
}

@media (min-width: @tablet-width) {
  .example-section {
    padding: 30px;
  }

  .example-section__title {
    .font-size-height(60px, 60px);
  }

  .example-section__description {
    margin-top: 60px;
    .font-size-height(16px, 24px);
  }

  .example-section__results-container {
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .example-section__results {
    display: flex;
  }

  .example-section__result {
    width: 162px;
    height: 77px;
  }

  .example-section__result:not(:first-of-type) {
    margin-left: 42px;
  }

  .example-section__result-value {
    .font-size-height(30px, 37px);
  }

  .example-section__result-label {
    .font-size-height(14px, 14px);
    white-space: nowrap;
  }

  .example-section__expenses {
    .font-size-height(20px, 20px);
  }
}

@media (min-width: @desktop-width) {
  .example-section {
    padding: 110px;
  }

  .example-section__results-container {
    display: flex;
    flex-direction: column;
  }

  .example-section__expenses {
    text-align: left;
  }
}
