.footer {
  background-color: @background-light-grey;
  //padding: 20px;
  .padding(
    39, 20, 60, 19,
    55, 30, 61, 30,
    57, 110, 58, 110
  );
}

.footer__body {
  display: flex;

  .flexDirection(column, row, row);
  .justifyContent(flex-start, space-between, space-between);
  .alignItems(stretch, stretch, stretch);
  //.padding(
  //  12, 20, 21, 20,
  //  55, 30, 61, 30,
  //  57, 110, 58, 110
  //);
}

.footer__company-name {
  text-align: center;

  .borderBottom(@border-content, none, none);
}

.footer__company-name-link {
  display: block;

  .padding(
    0, 0, 0, 0,
    0, 0, 0, 0,
    0, 0, 0, 0
  );
}

.footer__company-name-image {
  margin: 0 auto;
  display: block;
}

.footer__social-networks {
  margin: 0;
  text-align: center;

  .padding(
    21, 0, 21, 0,
    0 ,0, 0, 0,
    0 ,0, 0, 0
  );
  .borderBottom(@border-content, none, none);
}

.footer__social-network {
  .reset-list-styles();
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .padding(
    21, 0, 21, 0,
    0 ,0, 0, 0,
    0 ,0, 0, 0
  );
}

.footer__copyright-name {
  margin: 0;
  color: @light-grey;
}

.footer__copyright-logo,
.footer__copyright-link {
  display: block;
}

.footer__copyright-logo {
  .margin(
    0, 0, 0, 0,
    0 ,0, 0, 22,
    0 ,0, 0, 0
  );
}
