.footer {
  background-color: @background-light-grey;
}

.footer__body {
  padding: 39px 20px 22px 20px;
  display: flex; //TODO поменять на block
  flex-direction: column; //TODO удалить???
  align-items: stretch;

  @media @tablet {
    padding: 55px 30px 61px 30px;
    flex-direction: row;//TODO поменять на flex
    justify-content: space-between;
    align-items: center;
  }

  @media @desktop {
    padding: 69px 110px 58px 110px;
  }
}

.footer__company-name {
  padding: 0 0 32px 0;
  text-align: center;
  border-bottom: @border-content;

  @media @tablet {
    width: 164px;
    padding: 0;
    border-bottom: none;
  }
}

.footer__company-name-link {
  display: block;
}

.footer__company-name-image {
  display: block;
  margin: 0 auto;

  @media @tablet {
    margin: 0;
  }

  &:hover {
    @media @desktop {
      opacity: 80%;
    }
  }

  &:active {
    opacity: 60%;
  }
}

.footer__social-networks {
  padding: 20px 4px 16px 0;
  margin: 0 auto;
  width: 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media @tablet {
    padding: 0;
    margin: 0;
  }
}

.footer__social-network {
  .reset-list-styles();
}

.footer__social-network-logo {
  @media @tablet {
    &--vk {
      width: 30px;
      height: 32px;
    }

    &--in {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 28px;
      height: 33px;
    }
  }
  //TODO не пойму почему не работают hover and active для иконок
  &--vk,
  &--in:hover {
    @media @desktop {
      fill: @basic-green;
    }
  }

  &--fb:hover {
    @media @desktop {
      stroke: @basic-green;
    }
  }

  &--vk,
  &--in:active {
    fill: @basic-green;
    opacity: 30%;
  }

  &--fb:active {
    stroke: @basic-green;
    opacity: 30%;
  }
}

.footer__social-network-link {
  display: block;
  height: 100%;
}

.footer__copyright {
  padding: 21px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: @border-content;

  @media @tablet {
    width: 164px;
    padding: 0;
    border-top: none;
  }
}

.footer__copyright-name {
  margin: 0;
  color: @light-grey;

  @media @tablet {
    margin-right: 23px;
  }
}

.footer__copyright-logo,
.footer__copyright-link {
  display: block;
}

.footer__copyright-logo {
  margin: 0;

  &:active {
    stroke: #68b738;
    opacity: 30%;
  }
}

//TODO не работает ни hover ни active
.footer__copyright:hover + svg {
  @media @desktop {
    fill: @basic-green;
  }
}

.footer__copyright:active + svg .footer__copyright-name {
  opacity: 30%;
}
