.form {
  margin: 17px 0 -1px 0;

  @media @tablet {
    margin: 33px 0 0 0;
  }

  @media @desktop {
    margin-top: 26px;
  }
}

.form__section {
  position: relative;
  display: block;
  margin: 0;
  border: none;

  &--personal {
    @media @desktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 77px;
    }
  }

  &--contacts {
    padding: 113px 20px 24px 20px;

    @media @tablet {
      padding: 138px 65px 66px 68px;
    }

    @media @desktop {
      padding: 140px 108px 66px 109px;
    }
  }

  &--contacts-desktop {
    @media @desktop {
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 75px;
    }
  }

  &--comment {
    padding: 65px 20px 24px 20px;

    @media @tablet {
      padding: 111px 65px 68px 67px;
    }

    @media @desktop {
      padding: 111px 108px 68px 107px;
    }
  }

  &--related {
    padding: 62px 20px 38px 20px;

    @media @tablet {
      padding: 95px 20px 38px 82px;
    }

    @media @desktop {
      padding: 99px 20px 44px 123px;
    }
  }

  &--related-tablet-desktop {
    @media @tablet {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      row-gap: 42px;
      column-gap: 26px;
    }

    @media @desktop {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: none;
      column-gap: 7px;
    }
  }

  &--submit {
    padding: 0 20px 32px 20px;

    @media @tablet {
      padding: 20px 20px 73px 70px;
      display: flex;
    }

    @media @desktop {
      padding: 22px 20px 82px 111px;
    }
  }
}

.form__section--contacts,
.form__section--comment,
.form__section--related {
  &::before {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 2px;
    background-color: @basic-green;
  }
}

.form__section--contacts::before {
  top: 43px;

  @media @tablet {
    top: 48px;
  }

  @media @desktop {
    top: 50px;
  }
}

.form__section--comment::before {
  top: 15px;

  @media @tablet {
    top: 21px;
  }

  @media @desktop {
    top: 23px;
  }
}

.form__section--related::before {
  top: 13px;

  @media @tablet {
    top: 19px;
  }

  @media @desktop {
    top: 24px;
  }
}

.form__section-title {
  .oswaldFont();
  .font(24; 26);
  position: absolute;
  padding: 0;
  color: @basic-black;
  background-color: @basic-white;

  @media @tablet {
    .font(36; 36);
    padding: 0 30px;
  }
}

.form__section--contacts > .form__section-title {
  max-width: 221px;
  top: 26px;
  left: 0;
  padding-left: 20px;

  @media @tablet {
    max-width: 100%;
    left: 36px;
    padding-left: 33px;
    padding-right: 42px;
  }

  @media @desktop {
    top: 28px;
    left: 78px;
  }
}

.form__section--comment > .form__section-title {
  top: -1px;
  left: 0;
  padding-left: 20px;
  padding-right: 23px;

  @media @tablet {
    left: 37px;
    padding-left: 33px;
    padding-right: 42px;
  }

  @media @desktop {
    top: 1px;
    left: 78px;
  }
}

.form__section--related > .form__section-title {
  top: -3px;
  left: 0;
  padding-left: 20px;
  padding-right: 23px;

  @media @tablet {
    left: 37px;
    padding-left: 33px;
    padding-right: 42px;
  }

  @media @desktop {
    top: 3px;
    left: 77px;
  }
}

.form__field-group {
  padding: 21px 20px 23px 20px;
  display: block;
  border-bottom: @border-form-group;

  @media @tablet {
    border-bottom: none;
    padding: 33px 67px 30px 70px;
  }

  @media @desktop {
    padding: 40px 0 40px 110px;
  }
}

.form__field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:first-of-type) {
    margin-top: 13px;

    @media @tablet {
      margin-top: 20px;
    }
  }
}

.form__section--contacts-desktop > .form__field {
  @media @desktop {
    margin-top: 0;
  }
}

.form__field-label {
  .oswaldFont();
  .font(16, 18);
  text-transform: uppercase;
  white-space: nowrap;

  @media @tablet {
    .font(20, 30);
  }
}

.form__field-input {
  .oswaldFont();
  .font(16, 18);
  outline: none;
  width: 100%;
  border: @border-input;
  text-transform: uppercase;

  &--name {
    margin-left: 13px;
    padding: 13px 14px;

    @media @tablet {
      margin-left: 17px;
      padding: 10px 17px;
    }
  }

  &--weight {
    margin-left: 16px;
    padding: 13px 15px;

    @media @tablet {
      margin-left: 21px;
      padding: 10px 17px;
    }
  }

  &--age {
    margin-left: 16px;
    padding: 13px 15px;

    @media @tablet {
      margin-left: 18px;
      padding: 10px 18px;
    }
  }

  &--email {
    margin-left: 11px;
    padding: 13px 14px;

    @media @tablet {
      margin-left: 20px;
      padding: 10px 20px;
    }
  }

  &--tel {
    margin-left: 9px;
    padding: 13px 16px;

    @media @tablet {
      margin-left: 13px;
      padding: 10px 20px;
    }
  }

  &:hover {
    @media @desktop {
      border: @border-input-hover;
    }
  }

  &:focus {
    outline: @border-input-focus;
  }

  &--error {
    outline: @border-input-error;
  }

  @media @tablet {
    .font(20, 30);
  }
}

.form__field-icon {
  //TODO у иконок полей должен быть focus and error
  &--email,
  &--tel {
    position: absolute;
  }

  &--email {
    top: calc(50% - 7px);
    right: 15px;

    @media @tablet {
      right: 18px;
    }
  }

  &--tel {
    top: 15px;
    right: 13px;

    @media @tablet {
      right: 18px;
    }
  }
}

.form__radiobutton-group {
  padding: 28px 20px 22px 20px;
  border-bottom: @border-form-group;

  @media @tablet {
    padding: 42px 70px 48px 71px;
    border: none;
  }

  @media @desktop {
    padding: 40px 110px 40px 2px;
  }
}

.form__radiobutton-container {
  @media @tablet {
    padding: 29px 20px 30px 20px;
    border: @border-radio-container;
  }
}

.form__radiobutton {
  display: block;
  margin-top: 23px;
  cursor: pointer;

  &:first-of-type {
    margin-top: 0;
  }
}

.form__radiobutton-box {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -8px;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: @border-radio;

    @media @tablet {
      top: -13px;
      left: 7px;
      width: 40px;
      height: 40px;
    }
  }
}

.form__radiobutton-input:checked + .form__radiobutton-box {
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 8px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: @basic-green;

    @media @tablet {
      top: -4px;
      left: 18px;
      width: 17px;
      height: 17px;
    }
  }
}

.form__radiobutton-input:hover + .form__radiobutton-box {
  &::before {
    @media @desktop {
      border: @border-radio-hover;
    }
  }
}

.form__radiobutton-input:disabled + .form__radiobutton-box,
.form__radiobutton-input:disabled ~ .form__radiobutton-label {
  color: rgba(34, 34, 34, 0.3);

  &::before,
  &::after {
    opacity: 30%;
  }
}

.form__radiobutton-input {
  position: absolute;
  margin: 0;
  opacity: 0;
}

.form__radiobutton-label {
  .oswaldFont();
  .font(16, 18);
  padding-left: 46px;
  text-transform: uppercase;
  color: @basic-grey;

  @media @tablet {
    .font(20, 30);
    padding-left: 66px;
  }
}

.form__checkbox {
  display: flex;
  cursor: pointer;

  &:not(:first-of-type) {
    margin-top: 23px;

    @media @tablet {
      margin: 0;
    }
  }
}

.form__checkbox-input {
  position: absolute;
  margin: 0;
  opacity: 0;
}

.form__checkbox-input:hover + .form__checkbox-box {
  &::before {
    @media @desktop {
      border: @border-checkbox-hover;
    }
  }
}

.form__checkbox-input:checked + .form__checkbox-box {
  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/tick.svg"); //TODO поменяй на спрайт
    top: 3px;
    left: 4px;
    width: 18px;
    height: 14px;

    @media @tablet {
      top: 8px;
      left: -3px;
    }
  }
}

.form__checkbox-input:disabled + .form__checkbox-box,
.form__checkbox-input:disabled ~ .form__checkbox-label {
  opacity: 30%;

  &::before,
  &::after {
    opacity: 30%;
  }
}

.form__checkbox-box {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -2px;
    width: 30px;
    height: 30px;
    border: @border-checkbox;

    @media @tablet {
      left: -14px;
      width: 40px;
      height: 40px;
    }
  }
}

.form__checkbox-label {
  .oswaldFont();
  .font(16, 18);
  padding-left: 46px;
  text-transform: uppercase;
  color: @basic-black;

  @media @tablet {
    .font(20, 30);
  }
}

.form__textarea {
  .oswaldFont();
  .font(16, 18);
  display: block;
  width: 100%;
  padding: 7px 10px 10px 12px;
  text-transform: uppercase;
  height: 150px;
  outline: @border-input;

  &:hover {
    @media @desktop {
      outline: @border-input-hover;
    }
  }

  &:focus {
    outline: @border-input-focus;
  }

  @media @tablet {
    .font(20, 30);
    height: 174px;
    padding: 9px 19px;
  }

  @media @desktop {
    padding: 11px 19px;
  }
}

.form__submit-button {
  .font(16, 18);
  padding: 11px 78px;

  @media @tablet {
    .font(20, 30);
    padding: 11px 64px;
  }

  @media @desktop {
    padding: 11px 206px;
  }
}

.form__footnote {
  .font(14, 16);
  display: block;
  margin-top: 22px;
  text-align: center;

  @media @tablet {
    .font(16, 16);
    margin: 16px 0 0 66px;
  }

  @media @desktop {
    margin: 0;
    padding: 18px 0 0 84px;
  }
}
