.form-section {
  padding: 0;
  margin: 0;
}

.form-section__title {
  .oswald-regular();
  color: @basic_black;
  text-align: left;

  @media (max-width: @mobile-width) {
    padding: 0 20px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 100px;
  }
}

.form-section__subtitle {
  .oswald-regular();
  color: @basic_black;
  text-transform: uppercase;
  text-align: left;

  @media (max-width: @mobile-width) {
    padding: 0 20px;
    font-size: 14px;
    line-height: 18px;
  }

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 100px;
  }
}
