.form-section {
  padding: 0;
  margin: 0;
}

.form-section__title {
  .oswaldFont();
  color: @basic-black;
  text-align: left;
  padding: 0 20px;
  .font(36, 36);

  @media @tablet {
    padding: 0 30px;
    .font(60, 60);
  }

  @media @desktop {
    padding: 0 100px;
  }
}

.form-section__subtitle {
  .oswaldFont();
  color: @basic-black;
  text-transform: uppercase;
  text-align: left;
  padding: 0 20px;
  .font(14, 18);

  @media @tablet {
    padding: 0 30px;
    .font(20, 30);
  }

  @media @desktop {
    padding: 0 100px;
  }
}
