.form {
  padding: 18px 0 0 0;
}

.form__section {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  border-top: 2px solid #68b738;

  &--contacts,
  &--comment,
  &--related,
  &--submit {
    padding: 20px;
  }

  @media @tablet {
    border-top: 2px solid #68b738;

    &--contacts,
    &--comment,
    &--related,
    &--submit {
      padding: 30px 70px;
    }
  }

  @media @desktop {
    &--contacts,
    &--comment,
    &--related,
    &--submit {
      padding: 40px 110px;
    }
  }
}

.form__section:first-child {
  border-top: 0;
}

.form__section:last-child {
  border-top: 0;
}

.form__section-title {
  .oswaldFont();
  .font(24; 26);
  padding: 0;
  color: @basic-black;

  @media @tablet {
    .font(36; 36);
    padding: 0 30px;
  }

  @media @desktop {
    padding: 0 40px;
  }
}

.form__field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 13px;

  @media @tablet {
    margin-top: 20px;
  }
}

.form__field:first-of-type {
  margin-top: 0;
}

.form__field-group {
  padding: 20px 20px 23px 20px;
  display: flex;
  flex-direction: column;
  border-bottom: @border-content;

  @media @tablet {
    padding: 30px 70px;
  }

  @media @desktop {
    padding: 40px 110px;
  }
}

.form__field-label {
  .oswaldFont();
  .font(16, 18);
  text-transform: uppercase;
  white-space: nowrap;

  @media @tablet {
    .font(20, 30);
  }
}

.form__field-input {
  .oswaldFont();
  .font(16, 18);
  outline: none;
  width: 100%;
  padding: 13px 0 13px 15px;
  margin-left: 16px;
  border: @border-content;
  text-transform: uppercase;

  &:hover {
    @media @desktop {
      border: 1px solid rgba(68, 68, 68, 1);
    }
  }

  &:focus {
    border: 2px solid rgba(68, 68, 68, 1);
  }

  //TODO нужно переделать,это не работает так как надо
  &:required:valid {
    border: 2px solid rgba(255, 130, 130, 1);
  }

  @media @tablet {
    .font(20, 30);
  }
}

.form__radiobutton {
  margin-top: 23px;
}

.form__radiobutton:first-of-type {
  margin-top: 0;
}

.form__radiobutton-group {
  display: flex;
  flex-direction: column;
  padding: 28px 20px 22px 20px;
  border-bottom: @border-content;

  @media @tablet {
    padding: 30px 70px;
    border: none; // TODO  добавить границы у блока
  }

  @media @desktop {
    padding: 40px 110px;
  }
}

.form__radiobutton-label {
  .oswaldFont();
  .font(16, 18);
  margin-left: 20px;
  text-transform: uppercase;
  color: @basic-grey;

  @media @tablet {
    .font(20, 30);
  }
}

.form__checkbox {
  display: flex;
  margin-top: 13px;
}

.form__checkbox-label {
  .oswaldFont();
  .font(16, 18);
  margin-left: 16px;
  text-transform: uppercase;
  color: @basic-black;

  @media @tablet {
    .font(20, 30);
  }
}

.form__textarea {
  .oswaldFont();
  .font(16, 18);
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  //box-sizing: border-box; //TODO ?????
  text-transform: uppercase;
  height: 150px;

  @media @tablet {
    .font(20, 30);
    height: 174px;
  }
}

.form__section--personal {
  @media @desktop {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__submit-button {
  .font(16, 18);
  padding: 7px 44px;

  @media @tablet {
    .font(20, 30);
    padding: 13px 45px;
  }

  @media @desktop {
    padding: 13px 188px;
  }
}

.form__footnote {
  .font(14, 16);
  margin-top: 21px;
  padding-bottom: 20px;
  text-align: center;

  @media @tablet {
    .font(16, 16);
    margin-left: 70px;
  }

  @media @desktop {
    margin-left: 81px;
  }
}

.form__section--contacts-desktop {
  @media @desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;

    .form__field {
      margin-top: 0;
    }

    .form__field:not(:first-of-type) {
      margin-left: 70px;
    }
  }
}

.form__section--related-tablet-desktop {
  @media @tablet {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  @media @desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
