.form-section {
  padding: 27px 0 0 0;

  @media @tablet {
    padding-top: 34px;
  }

  @media @desktop {
    padding-top: 19px;
  }
}

//.form-section__title {
//  .oswaldFont();
//  .font(36, 36);
//  margin: 0;
//  padding: 0 20px;
//  text-align: left;
//  color: @basic-black;
//
//  @media @tablet {
//    .font(60, 60);
//    padding: 0 69px;
//  }
//
//  @media @desktop {
//    padding: 0 110px;
//  }
//}

.form-section__subtitle {
  .oswaldFont();
  .font(14, 18);
  max-width: 314px;
  margin: 37px 0 0 0;
  padding: 0 20px;
  text-align: left;
  color: @basic-black;
  text-transform: uppercase;

  @media @tablet {
    .font(20, 30);
    max-width: 461px;
    margin-top: 54px;
    padding: 0 69px 0 69px;
  }

  @media @desktop {
    max-width: 543px;
    margin-top: 56px;
    padding: 0 110px;
  }
}
