.form__section {
  margin: 0;
  padding: 0;
  border: 0;

  @media (max-width: @mobile-width) {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #68b738;

    &--contacts,
    &--comment,
    &--related,
    &--submit {
      padding: 20px;
    }
  }

  @media (min-width: @tablet-width) {
    border-top: 2px solid #68b738;

    &--contacts,
    &--comment,
    &--related,
    &--submit {
      padding: 30px 70px;
    }
  }

  @media (min-width: @desktop-width) {
    &--contacts,
    &--comment,
    &--related,
    &--submit {
      padding: 40px 110px;
    }
  }
}

.form__section:first-child {
  border-top: 0;
}

.form__section:last-child {
  border-top: 0;
}

.form__section-title {
  .oswald-regular();
  color: @basic-black;

  @media (max-width: @mobile-width) {
    padding: 0 14px;
    .font-size-height(24; 26);
  }

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    .font-size-height(36; 36);
  }

  @media (min-width: @desktop-width) {
    padding: 0 40px;
  }
}

.form__field {
  display: flex;
  align-items: center;

  @media (max-width: @mobile-width) {
    margin-top: 10px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 20px;
  }
}

.form__field:first-of-type {
  margin-top: 0;
}

.form__field-group {
  @media (max-width: @mobile-width) {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: @border-content;
  }

  @media (min-width: @tablet-width) {
    padding: 30px 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 40px 110px;
  }
}

.form__field-label {
  .oswald-regular();
  text-transform: uppercase;
  white-space: nowrap;

  @media (max-width: @mobile-width) {
    .font-size-height(16, 18);
  }

  @media (min-width: @tablet-width) {
    .font-size-height(20, 30);
  }
}

.form__field-input {
  padding: 13px 0 13px 15px;
  margin-left: 8px;
  width: 100%;
  outline: none;
  border: @border-content;
  .oswald-regular();
  text-transform: uppercase;

  @media (max-width: @mobile-width) {
    .font-size-height(16, 18);
  }

  @media (min-width: @tablet-width) {
    .font-size-height(20, 30);
  }
}

.form__radiobutton {
  margin-top: 13px;
}

.form__radiobutton:first-of-type {
  margin-top: 0;
}

.form__radiobutton-group {
  display: flex;
  flex-direction: column;

  @media (max-width: @mobile-width) {
    padding: 20px;
    border-bottom: @border-content;
  }

  @media (min-width: @tablet-width) {
    padding: 30px 70px;
    border: none; // TODO  добавить границы у блока
  }

  @media (min-width: @desktop-width) {
    padding: 40px 110px;
  }
}

.form__radiobutton-label {
  margin-left: 13px;
  .oswald-regular();
  color: @basic-grey;
  text-transform: uppercase;

  @media (max-width: @mobile-width) {
    .font-size-height(16, 18);
  }

  @media (min-width: @tablet-width) {
    .font-size-height(20, 30);
  }
}

.form__checkbox {
  display: flex;
  margin-top: 13px;
}

.form__checkbox-label {
  margin-left: 16px;
  .oswald-regular();
  color: @basic-black;
  text-transform: uppercase;

  @media (max-width: @mobile-width) {
    .font-size-height(16, 18);
  }

  @media (min-width: @tablet-width) {
    .font-size-height(20, 30);
  }
}

.form__textarea {
  padding: 10px;
  margin-top: 20px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  .oswald-regular();
  text-transform: uppercase;

  @media (max-width: @mobile-width) {
    .font-size-height(16, 18);
    height: 150px;
  }

  @media (min-width: @tablet-width) {
    .font-size-height(20, 30);
    height: 174px;
  }
}

.form__section--personal {
  @media (min-width: @desktop-width) {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__submit-button {
  @media (max-width: @mobile-width) {
    padding: 7px 44px;
    .font-size-height(16, 18);
  }

  @media (min-width: @tablet-width) {
    padding: 13px 45px;
    .font-size-height(20, 30);
  }

  @media (min-width: @desktop-width) {
    padding: 13px 188px;
  }
}

.form__footnote {
  text-align: center;

  @media (max-width: @mobile-width) {
    margin-top: 21px;
    padding-bottom: 20px;
    .font-size-height(14, 16);
  }

  @media (min-width: @tablet-width) {
    margin-left: 70px;
    .font-size-height(16, 16);
  }

  @media (min-width: @desktop-width) {
    margin-left: 81px;
  }
}

.form__section--contacts-desktop {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;

    .form__field {
      margin-top: 0;
    }

    .form__field:not(:first-of-type) {
      margin-left: 70px;
    }
  }
}

.form__section--related-tablet-desktop {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
