.header {
  padding: 0;
  display: block;
  align-items: stretch;

  @media @tablet {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
  }

  @media @desktop {
    padding: 54px 109px;
  }
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 65px;
  border-bottom: @border-mobile-menu;

  @media @tablet {
    height: 107px;
    border: none;
  }

  @media @desktop {
    height: 60px;
  }
}

.header__logo {
  display: block;
  margin: -4px 0 0 0;
  width: 34px;
  height: 34px;

  @media @tablet {
    margin: -7px 0 0 0;
    width: 174px;
    height: 52px;
  }

  @media @tablet {
    margin: -3px 0 0 1px;
    width: 201px;
    height: 59px;
  }
}

.header__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;

  @media @tablet {
    width: 174px;
  }

  @media @tablet {
    width: 201px;
  }
}

.header__company-name {
  display: block;
  transform: translateX(-1px);

  @media @tablet {
    display: none;
  }
}

.header__company-name-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  @media @tablet {
    display: none;
  }
}

.header__logo-link,
.header__company-name-link {
  &:active {
    opacity: 60%;
  }
}

.header__burger {
  display: block;
  width: 74px;
  background-image: url("../img/menu-buttons-on-mobile/cross-button.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 32px calc(50% - 2px);

  &--closed-on-mobile {
    background-image: url("../img/menu-buttons-on-mobile/burger-button.svg");
  }

  @media @tablet {
    display: none;
  }
}

.header__navigation {
  display: block;
  align-items: stretch;

  &--closed-on-mobile {
    display: none;

    @media @tablet {
      display: flex;
    }
  }

  @media @tablet {
    display: flex;
  }
}

.header__navigation-menu {
  .reset-list-styles();
  display: block;
  align-items: stretch;
  border-top: @border-mobile-menu;
  border-bottom: @border-mobile-menu;

  &:first-of-type {
    border-top: none;
  }

  @media @tablet {
    display: flex;
    border: none;
  }
}

.header__navigation-menu-link {
  .oswaldFont(500);
  .font(20, 20);
  display: block;
  align-items: center;
  padding: 22px 0 23px 0;
  letter-spacing: 0.7px;
  color: @basic-black;
  text-transform: uppercase;

  &:hover {
    @media @desktop {
      opacity: 60%;
    }
  }

  &:active {
    opacity: 30%;
  }

  &--current {
    @media @tablet {
      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        position: absolute;
        top: calc(50% + 20px);
        left: 0;
        background: @basic-green;
      }
    }
  }

  &--desktop-light {
    @media @desktop {
      color: @basic-white;
    }
  }

  &--current&--desktop-light {
    @media @desktop {
      &::after {
        background: @basic-white;
      }
    }
  }

  @media @tablet {
    .font(18, 24);
    display: flex;
    position: relative;
    padding: 0;
    letter-spacing: normal;
    font-weight: 400;
  }

  @media @desktop {
    .font(20, 30);
  }
}

.header__navigation-menu-item {
  display: block;
  align-items: stretch;
  text-align: center;

  &:first-of-type {
    margin: 0;

    @media @tablet {
      margin: 0 -3px 0 0;
    }

    @media @desktop {
      margin: 0 4px 0 0;
    }
  }

  &:not(:first-of-type) {
    margin: 0;

    @media @tablet {
      margin: 0 0 0 37px;
    }

    @media @desktop {
      margin: 0 2px 0 31px;
    }
  }

  &:not(:last-of-type) {
    border-bottom: @border-mobile-menu;

    @media @tablet {
      border-bottom: none;
    }
  }

  @media @tablet {
    display: flex;
  }
}
