.howitworks-section {
  padding: 27px 20px 42px 20px;

  @media @tablet {
    padding: 45px 30px 102px 30px;
    border-bottom: 1px solid #e6e6e6;//TODO обернуть в переменную
  }

  @media @desktop {
    margin-top: 71px;
    padding: 0 110px 58px 110px;
    border-bottom: none;
  }
}

.howitworks-section__title {
  .oswaldFont();
  .font(36, 40);
  margin: 0;
  color: @basic-black;

  @media @tablet {
    .font(60, 60);
  }
}

.howitworks-section__point-list {
  .reset-list-styles();
  margin: 38px 0 0 0;

  @media @tablet {
    margin-top: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 60px;
    row-gap: 133px;
  }

  @media @desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 79px;
    grid-template-rows: none;
  }
}

.howitworks-section__point {
  color: @light-grey;
  position: relative;
  margin: 20px 0 0 0;
  min-height: 60px;
  background-size: 60px 60px;
  background-position: left center;
  background-repeat: no-repeat;

  @media @tablet {
    margin-top: 0;
    background-position: left top;
    min-height: 80px;
    background-size: 80px 80px;
  }

  &:first-of-type {
    margin-top: 0;
  }

  &--icon-leaf {
    background-image: url("../img/howitworks/icon_leaf.svg");
  }

  &--icon-tub {
    background-image: url("../img/howitworks/icon_tub.svg");
  }

  &--icon-eat {
    background-image: url("../img/howitworks/icon_eat.svg");
  }

  &--icon-alarm {
    background-image: url("../img/howitworks/icon_alarm.svg");
  }

  &::after {
    .oswaldFont();
    .font(280, 280);
    position: absolute;
    top: -39px;
    z-index: -1;
    color: @background-light-grey;
  }

  &:nth-child(1) {
    &::after {
      @media @tablet {
        content: "1";
        right: 95px;
      }

      @media @desktop {
        right: 16px;
      }
    }
  }

  &:nth-child(2) {
    &::after {
      @media @tablet {
        content: "2";
        right: 79px;
      }

      @media @desktop {
        right: 1px;
      }
    }
  }

  &:nth-child(3) {
    &::after {
      @media @tablet {
        content: "3";
        right: 77px;
      }

      @media @desktop {
        right: -1px;
      }
    }
  }

  &:nth-child(4) {
    &::after {
      @media @tablet {
        content: "4";
        right: 76px;
      }

      @media @desktop {
        right: -3px;
      }
    }
  }
}

.howitworks-section__point-description {
  .font(14, 18);
  margin: 0;
  padding: 2px 0 0 80px;

  @media @tablet {
    .font(16, 24);
    padding: 112px 79px 0 0;
  }

  @media @desktop {
    padding: 112px 0 0 0;
  }
}
