.howitworks-section {
  padding: 27px 20px 20px 20px;
}

.howitworks-section__title {
  color: rgba(0, 0, 0, 1);
  font-size: 36px;
  line-height: 40px;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
}

.howitworks-section__point-list {
  font-family: @arialFont;
  color: rgba(68, 68, 68, 1);
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  margin-top: 36px;
}

.howitworks-section__point {
  display: flex;
  margin: 20px 0 0 0;
}

.howitworks-section__point:first-of-type {
  margin-top: 0;
}

.howitworks-section__point-description {
  margin: 0 0 0 21px;
}
