.offer-section {
  position: relative;
  padding: 27px 20px 0 20px;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 302px;
    width: 100%;
    background-image: linear-gradient(@background_basic_green, @background_basic_green), url("../img/cat-background.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  &__title {
    text-align: center;
    color: @basic-white;
  }

  &__subtitle {
    margin: 25px 0 0 0;
    text-align: center;
    color: @basic-white;
  }

  &__image {
    display: block;
    margin: 29px auto 0 auto;
  }

  &__button {
    display: block;
    margin: 3px auto 0 auto;
  }
}
