@import "source/less/variables.less";

.offer-section {
  height: 302px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/img/cat-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.offer-section__title {
  margin: 0;
  padding-top: 27px;
  text-align: center;
}

.offer-section__subtitle {
  margin: 0;
  padding-top: 25px;
  text-align: center;
  font-family: @oswaldFont;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
}
