.page {
  margin: 0;
  padding: 0;
  font-family: @oswaldFont;
  font-style: normal;
}

.page__title {
  margin: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}

.page__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}
