.programs-section {
  padding: 20px 20px 0 20px;
}

.programs-section__program-list {
  .reset-list-styles();
}

.programs-section__program {
  padding: 20px;
  background-color: @background_basic-grey;
}

.programs-section__program:not(:first-of-type) {
  margin-top: 20px;
}

.programs-section__head {
  display: flex;
  align-items: center;
}

.programs-section__program-title {
  margin: 0;
  padding-left: 84px;
  height: 67px;
  .oswald-regular(24px; 37px);
  color: @title_black;
  text-transform: uppercase;
  background-position: left center;
  background-repeat: no-repeat;

  &--slim {
    background-image: url("../img/program-icons/cat-slim.svg");
  }

  &--pro {
    background-image: url("../img/program-icons/cat-pro.svg");
  }
}

.programs-section__program-description {
  margin: 29px 0 0 0;
  padding-bottom: 20px;
  .arial-regular(14px; 18px);
  color: @text_dark-grey;
  border-bottom: 1px solid @border_grey-block;
}

.programs-section__program-link {
  margin: 18px 0 0 0;
  display: block;
  .oswald-regular(16px; 16px);
  color: @title_black;
  text-transform: uppercase;
}
