.reset-list-styles() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.oswaldFont(@font-weight: 400) {
  font-family: @oswaldFont;
  font-weight: @font-weight;
}

.font(@fontSize; @lineHeight) {
  font-size: ~"@{fontSize}px";
  line-height: ~"@{lineHeight}px";
}
