@oswaldFont: "Oswald", "Arial", sans-serif;
@arialFont: "Arial", sans-serif;

@basic-white: #ffffff;
@basic-black: #000000;
@dark-grey: #111111;
@basic-grey: #222222;
@light-grey: #444444;

@background-light-grey: #f2f2f2;
@background-dark-grey: #eaeaea;
@background-green: rgba(104, 183, 56, 0.85);

@button-background_green: #68b738;
@button-background_green-hover: #5eaa2f;

@border-mobile-menu: 1px solid #e6e6e6;
@border-content: 1px solid #d9d9d9;
@border-catalog: 1px solid #ebebeb;
@border-recommendations: 1px solid #cdcdcd;

@mobile-width: 767px;
@tablet-width: 768px;
@desktop-width: 1440px;
