@oswaldFont: "Oswald", "Arial", sans-serif;
@arialFont: "Arial", sans-serif;

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1280px;

@basic-white: #ffffff;
@background_basic-grey: #f2f2f2;
@background_special-grey: #eaeaea;
@background_basic_green: rgba(104, 183, 56, 0.85);

@title_black: #000000;
@text_dark-grey: #444444;
@button_basic_green: #68b738;

@border_grey-block: #d9d9d9;
@border_grey-menu: #e6e6e6;

@tablet-width: 768px;
@desktop-width: 1440px;
